

.card-infos {
    width: 100%;
    min-height: 60px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.extra-infos {
    height: 50px;
    width: 100%;
    border-radius: 0 0 5px 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.preview-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.actions {
    margin-right: 20px;
}

.label-name {
    margin-left: 20px;
}